<h1>RIKKA, Hello!!!!</h1>

<!--<%= form_for :user do |f| %>-->
<!--  <p>-->
<!--    <%= f.label :Username %><br>-->
<!--    <%= f.text_field :username %>-->
<!--  </p>-->
 
<!--  <p>-->
<!--    <%= f.label :Password %><br>-->
<!--    <%= f.text_area :password %>-->
<!--  </p>-->
<!--  <%= link_to '<button type="button">New Post</button>'.html_safe, signup_users_path %>-->
  
<!--<% end %>-->


<%= form_for :user do |f| %>
<fieldset>
  <legend>Please Log In</legend>
  
    <div class="left"><%= label_tag :name, 'Name:' %></div>
    <div class="right"><%= text_field_tag :name, params[:name] %></div>

    <div class="left"><%= label_tag :password, 'Password:' %></div>
    <div class="right"><%= password_field_tag :password, params[:password] %></div>

    <div class="right"><div class="button"><%= submit_tag "Login" %></div></div>

</fieldset>
<% end %>




<%= link_to 'SignUp', signup_users_path %>

<%= link_to 'Forgot', forgot_users_path %>